out_w_adapter_w_text/
pre_distill/
CLIP/
MinkowskiEngine/
out_test/
out_w_filter_pl/
data/
s3dis_process_2d/
dataset_process/data/
s3dis_process_2d_all/
s3dis_process_2d_all_area5/
scannet_test/
out_one_stage/
out_change_lr_one_stage/
out_s3dis_test/
s3dis_embeddings/
out_scannet_200_test/
scannet_200_embeddings/
README.md
out_scannet_train/openseg/model
out_scannet_train/openseg/result
saved_text_embeddings/
dataset/__pycache__
model/__pycache__
util/__pycache__